{% render 'shogun-products', content: article %}
<!-- /templates/article.liquid -->
{% comment %}
  The contents of the article.liquid template can be found in /sections/article-template.liquid
{% endcomment %}
<!--<a href="/products/otr-diagnostics-professional-package"><img style="padding-bottom: 20px" src="https://cdn.shopify.com/s/files/1/2628/2624/files/Group_25_2.svg?v=1640735136" class="desktop"></a>
<a href="/products/otr-diagnostics-professional-package"><img style="padding-bottom: 20px" src="https://cdn.shopify.com/s/files/1/2628/2624/files/Group_25_3.svg?v=1640735136" class="mobile"></a>-->

{% section 'article-template' %}
